ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7fc4fd;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #2699fb;
}

div.result {
  text-align: center;
}

div.sns {
  background-color: #bce0fd;
  height: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.overview {
  text-align: center;
}

div.about {
  text-align: center;
}

button {
  background-color: #7fc4fd;
  color: white;
  text-align: center;
  width: 148px;
  height: 48px;
  border-radius: 6px;
  font-size: 23px;
  border: 0;
  outline: 0;
}
